html {
    background-color: silver;
    text-decoration: none;
    margin: 20px;
}

.com {
    padding: 10px;
    width: 4px;
    border: 10px;
}

header {
    display: block;
    background: blue;
}


