<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default bg-secondary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Giri</a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 30px">
    <form method="POST" action="/">
        {% csrf_token %}
        	<label>Введите фамилию</label>
        	<input type="text" name="surname" />

            <label>Введите имя</label>
            <input type="text" name="name" />

        	<label>Введите отчество</label>
        	<input type="text" name="patronymic" />
        <input type="submit" value="Найти" >
    </form>
</div>      
<div class="contaimer-fluid" style="padding-top: 30px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>
                    {% if sportsmens.count > 0 %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <h2>Список спортсменов</h2>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Регион</td>
                                <td>День рождения</td>
                                <td>Категория</td>
                            </tr>
                        </thead>

                        {% for sportsmen in sportsmens %}
                                            
                        <tbody>
                            <tr>
                                <td>{{ sportsmen.surname }}</td>
                                <td>{{ sportsmen.name }}</td>
                                <td>{{ sportsmen.patronymic }}</td>
                                <td>{{ sportsmen.region }}</td>
                                <td>{{ sportsmen.dateofbirth }}</td>
                                <td>{{ sportsmen.category }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>    
</div>
<footer class="bg-secondary" style="position: absolute; bottom: 0; width: 100%">
    <div class="footer-bg">
        <div class="copyright">
        <p><strong>Сайт выполнен для курсовой работы по предмету "Безопасность систем баз данных"</strong></p>
        </div>
    </div>
</footer>
{% endblock content %}
