{% extends "base.html" %}
{% block title %}Judge{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default bg-secondary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Giri</a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 30px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="/administrator/">
                    {% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <h2>Таблца Результат</h2>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>Фамилия тренера</label></td>
                                    <td><input type="text" name="mastersurname" /></td>
                                </tr>
                                <tr>
                                    <td><label>Имя тренера</label></td>
                                    <td><input type="text" name="mastername" /></td>
                                </tr>
                                <tr>
                                    <td><label>Отчество тренера</label></td>
                                    <td><input type="text" name="masterpatronymic" /></td>
                                </tr>
                                <tr>
                                    <td><label>Результат</label></td>
                                    <td><input type="number" name="result" /></td>
                                </tr>
                                <tr>                                
                                    <td><label>Дисциплина</label></td>
                                    <td><input type="text" name="discipline" /></td>
                                </tr>
                                <tr>
                                    <td><label>ID соревнования</label></td>
                                    <td><input type="number" name="competitionid" /></td>
                                </tr>
                                <tr>
                                    <td><label>ID спортсмена</label></td>
                                    <td><input type="number" name="sportsmenid" /></td>
                                </tr>
                                <tr>
                                    <td><label>ID судьи</label></td>
                                    <td><input type="number" name="judgeid" /></td>
                                </tr>
                            </tbody>
                        </table>
                    <button type="submit" class="btn btn-primary" name="submit6">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>  
<!-- ************************************************************************ -->
<div class="container-fluid" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <form>
                    {% if sportsmens.count > 0 %}
                    <table class="table table-bordered">
                        <thead> 
                            <tr>
                                <h2>Список спортсменов</h2>
                                <td>ID</td>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sportsmen in sportsmens %}
                            <tr>
                                <td>{{ sportsmen.id }}</td>
                                <td>{{ sportsmen.surname }}</td>
                                <td>{{ sportsmen.name }}</td>
                                <td>{{ sportsmen.patronymic }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-5">
                <form>
                    {% if results.count > 0 %}
                    <table class="table table-bordered">
                        <thead> 
                            <tr>
                                <h2>Результат</h2>
                                <td>ID</td>
                                <td>ID спортсмена</td>
                                <td>ID соревнования</td>
                                <td>ID судьи</td>
                                <td>Результат</td>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Дисциплина</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result.id }}</td>
                                <td>{{ result.sportsmenid.id }}</td>
                                <td>{{ result.competitionid.id }}</td>
                                <td>{{ result.judgeid.id }}</td>
                                <td>{{ result.result }}</td>
                                <td>{{ result.mastername }}</td>
                                <td>{{ result.mastersurname }}</td>
                                <td>{{ result.masterpatronymic }}</td>
                                <td>{{ result.discipline }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </form>
            </div>
        </div>        
    </div>            
</div>
<footer class="bg-secondary" style="bottom: 0; wigth: 100%">
    <div class="footer-bg">
        <div class="copyright">
        <p><strong>Сайт выполнен для курсовой работы по предмету "Безопасность систем баз данных"</strong></p>
        </div>
    </div>
</footer>
{% endblock content %}
