<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Operator{% endblock title %}
{% block header %}<!--Главнаяs-->{% endblock header %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default bg-secondary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Giri</a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding-top: 30px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <form method="POST" action="/administrator/">
                    {% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <h2>Таблца Спортсмена</h2>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>Фамилия</label></td>
                                    <td><input type="text" name="surname" /></td>
                                </tr>
                                <tr>
                                    <td><label>Имя</label></td>
                                    <td><input type="text" name="name" /></td>
                                </tr>
                                <tr>
                                    <td><label>Отчество</label></td>
                                    <td><input type="text" name="patronymic" /></td>
                                </tr>
                                <tr>
                                    <td><label>Регион</label></td>
                                    <td><input type="text" name="region" /></td>
                                </tr>
                                <tr>
                                    <td><label>Категория</label></td>
                                    <td><input type="text" name="category" /></td>
                                </tr>
                                <tr>
                                    <td><label>День рождения</label></td>
                                    <td><input type="date" name="birthday" /></td>
                                </tr>
                            </tbody>
                        </table>
                    <button type="submit" class="btn btn-primary" name="submit1">Сохранить</button>
                </form> 
            </div>
    <!-- ************************************************************************ -->
            <div class="col-md-4">
                <form method="POST" action="/administrator/">
                    {% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <h2>Таблца Соревнование</h2>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>Дата проведения</label></td>
                                    <td><input type="date" name="date" /></td>
                                </tr>
                                <tr>
                                    <td><label>Место</label></td>
                                    <td><input type="text" name="place" /></td>
                                </tr>
                                <tr>
                                    <td><label>Статус соревнований</label></td>
                                    <td><input type="text" name="status" /></td>
                                </tr>
                            </tbody>
                        </table>
                    <button type="submit" class="btn btn-primary" name="submit2">Сохранить</button>
                </form>                     
            </div>           
    <!-- ************************************************************************ -->
            <div class="col-md-4">
                <form method="POST" action="/administrator/">
                    {% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <h2>Таблца Cудья</h2>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><label>Фамилия судьи</label></td>
                                    <td><input type="text" name="judgesurname" /></td>
                                </tr>
                                <tr>
                                    <td><label>Имя судьи</label></td>
                                    <td><input type="text" name="judgename" /></td>
                                </tr>
                                <tr>
                                    <td><label>Отчество судьи</label></td>
                                    <td><input type="text" name="judgepatronymic" /></td>
                                </tr>
                            </tbody>
                        </table>
                    <button type="submit" class="btn btn-primary" name="submit3">Сохранить</button>
                </form>                     
            </div>
        </div>
    </div>
</div>
<!-- ************************************************************************ -->
<div class="container-fluid" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-5">
                    <form method="POST" action="/administrator/">
                        {% csrf_token %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <h2>Таблца Результат</h2>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>Фамилия тренера</label></td>
                                        <td><input type="text" name="mastersurname" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Имя тренера</label></td>
                                        <td><input type="text" name="mastername" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Отчество тренера</label></td>
                                        <td><input type="text" name="masterpatronymic" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>Результат</label></td>
                                        <td><input type="number" name="result" /></td>
                                    </tr>
                                    <tr>                                
                                        <td><label>Дисциплина</label></td>
                                        <td><input type="text" name="discipline" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>ID соревнования</label></td>
                                        <td><input type="number" name="competitionid" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>ID спортсмена</label></td>
                                        <td><input type="number" name="sportsmenid" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>ID судьи</label></td>
                                        <td><input type="number" name="judgeid" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        <button type="submit" class="btn btn-primary" name="submit4">Сохранить</button>
                    </form>                     
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************************************************************************ -->
<div class="container-fluid" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>
                    {% if sportsmens.count > 0 %}
                    <table class="table"> 
                        <thead>
                            <tr>
                                <h2>Список спортсменов</h2>
                                <td>ID</td>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Регион</td>
                                <td>День рождения</td>
                                <td>Категория</td>
                                <td></td>
                            </tr>
                        </thead>
                        {% for sportsmen in sportsmens %}
                        <tbody>
                            <tr>
                                <td>{{ sportsmen.id }}</td>
                                <td>{{ sportsmen.surname }}</td>
                                <td>{{ sportsmen.name }}</td>
                                <td>{{ sportsmen.patronymic }}</td>
                                <td>{{ sportsmen.region }}</td>
                                <td>{{ sportsmen.dateofbirth }}</td>
                                <td>{{ sportsmen.category }}</td>
                                <td>
                                    <form method="POST" action="/administrator/">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_sp" value={{ sportsmen.id }}>
                                        <button type="submit" class="btn btn-danger" name="delete_sportsmen">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if competitions.count > 0 %}
                </form>
            </div>
            <div class="col-md-6">
                <form>        
                    <table class="table">
                        <thead>
                            <tr>
                                <h2>Список соревнований</h2>
                                <td>ID</td>
                                <td>Дата</td>
                                <td>Место</td>
                                <td>Статус</td>
                            </tr>
                        </thead>
                        {% for competition in competitions %}
                        <tbody>
                            <tr>
                                <td>{{ competition.id }}</td>
                                <td>{{ competition.date }}</td>
                                <td>{{ competition.place }}</td>
                                <td>{{ competition.status }}</td>
                                <td>
                                    <form method="POST" action="/administrator/">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_comp" value={{ competition.id }}>
                                        <button type="submit" class="btn btn-danger" name="delete_competition">Удалить</button>
                                    </form>
                                </td>            
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if judges.count > 0 %}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form>        
                    <table class="table">
                        <thead> 
                            <tr>
                                <h2>Список судей</h2>
                                <td>ID</td>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td></td>
                            </tr>
                        </thead>
                        {% for judge in judges %}
                        <tbody>
                            <tr>
                                <td>{{ judge.id }}</td>
                                <td>{{ judge.judgesurname }}</td>
                                <td>{{ judge.judgename }}</td>
                                <td>{{ judge.judgepatronymic }}</td>
                                <td>
                                    <form method="POST" action="/administrator/">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_jud" value={{ judge.id }}>
                                        <button type="submit" class="btn btn-danger" name="delete_judge">Удалить</button>
                                    </form>
                                </td>            
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if results.count > 0 %}
                </form>
            </div>
            <div class="col-md-6">
                <form>        
                    <table class="table">
                        <thead> 
                            <tr>
                                <h2>Результат</h2>
                                <td>ID</td>
                                <td>ID спортсмена</td>
                                <td>ID соревнования</td>
                                <td>ID судьи</td>
                                <td>Результат</td>
                                <td>Фамилия</td>
                                <td>Имя</td>
                                <td>Отчество</td>
                                <td>Дисциплина</td>
                                <td></td>
                            </tr>
                        </thead>
                        {% for result in results %}
                        <tbody>
                            <tr>
                                <td>{{ result.id }}</td>
                                <td>{{ result.sportsmenid.id }}</td>
                                <td>{{ result.competitionid.id }}</td>
                                <td>{{ result.judgeid.id }}</td>
                                <td>{{ result.result }}</td>
                                <td>{{ result.mastername }}</td>
                                <td>{{ result.mastersurname }}</td>
                                <td>{{ result.masterpatronymic }}</td>
                                <td>{{ result.discipline }}</td>
                                <td>
                                    <form method="POST" action="/administrator/">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_res" value={{ result.id }}>
                                        <button type="submit" class="btn btn-danger" name="delete_result">Удалить</button>
                                    </form>
                                </td>            
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="bg-secondary">
    <div class="footer-bg">
        <div class="copyright">
        <p><strong>Сайт выполнен для курсовой работы по предмету "Безопасность систем баз данных"</strong></p>
        </div>
    </div>
</footer>
{% endblock content %}
